// Override this file to add your own SCSS styling.
.navbar-nav {
        display: flex;
    
        .nav-link {
          color: rgba($sta-menu-text, .85);
    
          &.active {
            font-weight: bold !important;
            color: $sta-menu-text-active !important;
          }
        }
      }

      .wg-hero {
        padding: 3em 0;
        clear: both;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        animation: intro 0.3s both;
        animation-delay: 0s;
        animation-delay: 0.25s;
      }

      .home-section.wg-slider {
        padding: 10;
        animation: none;
        background-color: #fff;
        animation-delay: unset;
      }
// ================================
// Meet the Team page
// ================================
